* {
    box-sizing: border-box;
}

h1 {
    text-align: center;
}

.navLinkCont {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    align-content: center;
    flex-wrap: wrap;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-content: center;
    flex-wrap: wrap;
}

.navLinkCont {
    justify-content: center;
}

.navLink {
    text-decoration: none;
    font-size: larger;
}

.navLink:hover {
    border-radius: 5px;
    padding: 20px;
    transition: 1s;
    border: 1px solid;
    text-decoration: underline;
}

.navItem {
    margin: 20px auto;
}

.formItem {
    margin: 5px;
}

input[type=date] {
    width: 185px;
}

.cell {
    width: 129px;
}

/*index.html*/

.main {
    color: white;
}

.add-patient, .search-exam, .exam-generation {
    background-color: darkblue;
    padding: 200px 100px;
    border-radius: 50px;
    font-size: larger;
}